.orchestra_list {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  min-height: 350px;
}

.page_heading {
  composes: heading from "./../../styleUtils.css";
  color: var(--primary-font-color);
  font-size: var(--title-font-size);
  font-weight: 500;
  padding-left: 30px;
  margin-bottom: 10px;
}

.main {
  flex-grow: 1;
  min-height: 500px;
}

.content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

/************** media queries **************/
@media only screen and (max-width: 1000px) {
  .orchestra_list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 700px) {
  .orchestra_list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 550px) {
  .orchestra_list {
    grid-template-columns: repeat(1, 1fr);
  }
}
